body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-left{
  position: fixed;
  top: 0;
  width: 30%;
  height: 100%;
  padding: 5px;
  background: #333;
  color: #fff;
}

.content{
  margin-top: 80px;
}

.box{
  height: 500px;
  width: 500px;
  margin: 10px auto;
  background: #ccc;
  color: #fff;
}

nav{
  
}
