body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  position: absolute;
  top: 0;
  left: 18%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.substance{
  position: absolute;
  top: 60px;
  left: 18%;
  margin: 0 auto;
  padding: 0;

.site-left{
  position: fixed;
  top: 0;
  height: 100%;
}
  
.content{
  position: absolute;
  top: 120px;
  left: 18%;
}

.box{
  height: 500px;
  width: 500px;
  margin: 10px auto;
  background: #c0c;
  color: #fff;
}
