@media screen and (min-width: 767px) { /* ウィンドウ幅が767px以上の場合に適用 */
	#menu-bg {
	background-color: #00FF00; /* 緑色 */
	}
	html{
		height:100%;
		margin-bottom: 20px;
		background-color: yellowgreen;
	}

	body{
		height:100%;
		margin: 0;
		padding: 0;
		padding-left: 5px;
		padding-bottom: 10px; 
	}

	#title{
		text-align: center;
		border-bottom-style: solid;
		border-color: yellow;
		margin-bottom: 0px;
	}

	nav{
		display: block;
	}	

	ul li{
		list-style-type: none;
	}

	dl dd{
		text-align: right;
		line-height: 150%;
	}

	table{
		border: solid 1px #000;
		border-collapse: collapse;
	}

	th, td {
		padding: 5px;
		border: solid 1px #000;
		border-spacing: 0;
		font-size: 14px;
	}

	td {
		text-align: center;
	}

	td.kyokumei{
		text-align: left;
	}

	honbun{
		height: 100%;
	}

	honbun.box{
		height: 100%;
		min-height: 100%;
		padding-bottom: 10px;
		padding-left: 5px;
	}
	
	centering{
		text-align: center;
	}
	#left{
	        position: relative;
		top: 0pt;
		left:0pt;
	        display: inline-block;
		float: left;
		width: 20%;
		height: auto;
		line-height: auto;		
	}
	#right{
   		position: absolute;
   		top: 6em; 
   		left: 20%;
   		display: inline-block;
   		float right;
		padding: 10px;
		margin: 0px;
		border-left: 5px solid #000; 
	} 
	#formWrap{
    width: 100%;
	}
	.form_inner{
    width: 50%;
    margin: 0 auto;
    background-color: #FFF;
    min-width: 768px;
    padding: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    -webkit-border-radius:20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px; 
	}
	.form_inner h3{
    font-size: 24px;
    color: #00a0e9;
    border-bottom: 1px solid #00a0e9;
    padding-left: 6.25px;
    padding-bottom: 12.5px;
    margin-bottom: 50px;
	}
	.form_inner p{
    margin: 25px 0;
	}

	.form_inner p a{
    color: #00a0e9;
	}
	#formWrap {
  	width:800px;
	  margin:0 auto;
  	color:#555;
	  line-height:150%;
  	font-size:85%;
}
table.formTable{
  width:100%;
  margin:0 auto;
  border-collapse:collapse;
}
table.formTable td,table.formTable th{
  border:1px solid #ccc;
  padding:12.5px;
}
table.formTable th{
  widows: 40%;
  font-weight:normal;
  background:#efefef;
  text-align:right;
}
input,textarea{
    padding: 6.25px 12.5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCCCCC;
}
.form_require {
    color: #ED1E79;
    font-size: 12px;
}
}


